/* layout */
body {
    background-image: url("school/deskiResized.jpg");
    font-family: 'Lato', sans-serif;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 0;
    color: white;
}

.page {
    width: 1150px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    float: left;
}

/*work with title*/
.title {
    border-radius: 7px;
    margin: 0px;
    padding: 0;
}

.title h1 {
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    margin: 15px 0;
    color: white;
    text-shadow: black 0.3em 0.3em 0.6em, -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    letter-spacing: 1px;
}

/* nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul > li {
    display: inline-block;
    width: 343px;
    text-align: center;
    padding: 15px;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(255, 183, 117, 0.8);
    border: 2px solid saddlebrown;
    border-radius: 5px;
}

#users {
    width: 1103px;
    margin-left: 22px;
    margin-right: 26px;

}

ul > li:hover {
    cursor: pointer;
}

ul > li:last-child {
    margin-right: 0px;
    border-right: none;
}

ul > li:first-child {
    margin-left: 22px;
}

ul > li > a {
    color: black;
    text-decoration: none;
}

/* end nav */

/* login / signUp */
h3 {
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
    text-shadow: black 0.2em 0.2em 0.4em, -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    letter-spacing: 2px;
}

.login {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

input[type=text],
input[type=password] {
    width: 280px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px;
    outline: none;
    margin-top: 10px
}

input[type=text]:focus,
input[type=password]:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    border: 2px solid #bab567;
    background-color: #e9f3e9;
    color: #aaa456;
}

input[type=submit] {
    width: 300px;
    background-color: #36b03c;
    font-size: 20px;
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    border: none;
    outline: none;
}

input[type=submit]:hover {
    background-color: #25a02b;
}

#description {
    width: 560px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px;
    outline: none;
    margin-top: 10px
}

#descriptionTruck {
    width: 560px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px;
    outline: none;
    margin-top: 10px
}

#description:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    border: 2px solid #bab567;
    background-color: #e9f3e9;
    color: #aaa456;
}

.submitComment {
    margin-left: 38px;
    margin-top: 20px;
}

/* end login / signUp*/

/* footer */
.footer {
    width: 1176px;
    padding: 15px 10px;
    border-radius: 7px;
    margin-top: 10px;
    float: left;
    text-align: center;
    font-weight: 700;
    text-shadow: black 0.1em 0.1em 0.3em, -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;

}

.information {
    margin-right: 0;
    margin-top: 14px;
    padding: 5px;
    float: left;
}

.information p {
    font-size: 24px;

}

.linkstyle {
    text-decoration: none;
    color: #ffffff;
}


.fb {
    width: 135px;
    height: 100px;
    float: left;
}

.fb:hover {
    background-color: #4668b3;
    border-radius: 7px;
}

.ig {
    width: 135px;
    height: 100px;
    float: left;

}

.ig:hover {
    width: 135px;
    height: 100px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    border-radius: 7px;

}

.tw {
    width: 135px;
    height: 100px;
    float: left;
}

.tw:hover {
    background-color: #3095d3;
    border-radius: 7px;

}


/* end footer*/

/* main */

.event {
    float: left;
    width: 329px;
    padding: 20px 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    background: rgba(255, 183, 117, 0.8);
    border: 2px solid #7b3f00;
}

.eventText {
    opacity: 1;
    color: black;
    font-size: 18px;
}

.eventButton {
    width: 160px;
    border: 1px #0e9e0e solid;
    background-color: #3d993d;
    margin-top: 10px;
    padding: 7px;
    border-radius: 5px;
}

.notesButton {
    width: 160px;
    border: 1px #0e9e0e solid;
    background-color: #3d993d;
    margin-top: 10px;
    padding: 7px;
    border-radius: 5px;
    float: right;
    margin-left: 7px;
}

.notesButton:hover {
    cursor: pointer;
    background-color: #37a337;
}

.eventButton:hover {
    cursor: pointer;
    background-color: #37a337;
}

.require {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    text-shadow: black 0.1em 0.1em 0.3em, -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;

}

.require p {
    font-size: 22px;
    font-weight: 700;
}

.addEvent {
    float: right;
    margin-right: 15px;
}

.imgFoodTruck {
    float: left;
    width: 329px;
    padding: 20px 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}

.desc {
    font-size: 18px;
    color: black;
    font-weight: 700;
}

.foodTruckList {
    float: left;
    background-color: #FFB775;
    background: rgba(255, 183, 117, 0.7);
    border: 2px solid #7b3f00;
    border-radius: 10px;
}


.imgFoodTruck img {
    width: 300px;
    height: 255px;
    border-radius: 5px;
    border: 2px solid black;
}

.imgFoodTruck img:hover {
    opacity: 0.9;
}

.mainImgTruck {
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
}

.mainImgTruck img {
    width: 600px;
    height: 450px;
    border-radius: 7px;
    border: 1px solid black;
}

.imgName p {
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.foodTruck p {
    font-size: 25px;
}

.foodTruck h3 {
    font-size: 44px;
}

#gallery {
    text-align: center;
}

#gallery img {
    width: 600px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid black;
}

#options a {
    padding: 10px;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: black 0.2em 0.2em 0.4em, -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    cursor: pointer;
}

/* end main */

/* profile */
#profileImg img.profilePhoto {
    width: 240px;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 10px;
}

.data {
    padding: 5px;
}

.editButton {
    margin-top: 10px;
    width: 100px;
    padding: 7px;
    border: 2px #0e9e0e solid;
    border-radius: 3px;
    background-color: #36b13c;
}

.editButton:hover {
    cursor: pointer;
    background-color: #03a01a;
}


/* end profile*/

/* error */
.formError {
    color: black;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 18px;
}

/* end error */

.tbl-header {
    margin-top: 30px;
    padding: 15px;
    background: rgba(255, 183, 117, 0.8);
    border: 2px solid #7b3f00;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}

th {
    padding: 20px 15px;
    font-size: 16px;
    width: 16.3vh;
    vertical-align: middle;
}

.tbl-content {
    overflow-x: auto;
    margin-top: 0px;
    border: 2px solid #7b3f00;
    color: black;
    background: rgba(255, 183, 117, 0.8);
    border-radius: 5px;
    color: black;
    font-weight: 700;
}

td {
    color: black;
    width: 16.3vh;
    padding: 20px 15px;
    vertical-align: middle;
    text-align: center;
}

.profile_img img {
    width: 240px;
}

#helpingString {
    float: right;
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 7px;
    padding-left: 10px;
    text-shadow: black 0.1em 0.1em 0.3em, -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.currentPrice {
    float: right;
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 7px;
    text-shadow: black 0.1em 0.1em 0.3em, -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}

.errorRegister {
    background-color: black;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin: 0;
}


.tbl-header-fourth {
    margin-top: 30px;
    padding: 15px;
    background: rgba(255, 183, 117, 0.8);
    border-radius: 5px;
    border: 2px solid #7b3f00;
}

.tbl-header-fourth th {
    padding: 20px 15px;
    font-size: 18px;
    width: 25vh;
    vertical-align: middle;
    color: black;
    font-weight: 700;
}

.tbl-content-fourth {
    overflow-x: auto;
    margin-top: 0px;
    border: 2px solid #7b3f00;
    color: black;
    background: rgba(255, 183, 117, 0.8);
    border-radius: 5px;
}

.tbl-content-fourth td {
    color: black;
    width: 25vh;
    padding: 20px 15px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
}

.tbl-header-five {
    margin-top: 30px;
    padding: 15px;
    background: rgba(255, 183, 117, 0.8);
    border-radius: 5px;
    border: 2px solid #7b3f00;
}

.tbl-header-five th {
    padding: 20px 15px;
    font-size: 18px;
    width: 20vh;
    vertical-align: middle;
    color: black;
    font-weight: 700;
}

.tbl-content-five {
    overflow-x: auto;
    margin-top: 0px;
    border: 2px solid #7b3f00;
    color: black;
    background: rgba(255, 183, 117, 0.8);
    border-radius: 5px;
}

.tbl-content-five td {
    color: black;
    width: 20vh;
    padding: 20px 15px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
}

.tbl-header-2 {
    background: rgba(255, 183, 117, 0.8);
    border-radius: 5px;
    border: 2px solid #7b3f00;
}

.tbl-header-2 th {
    font-size: 18px;
    widows: 573px;
    vertical-align: middle;
    color: black;
    font-weight: 700;
    padding: 0;
}

.tbl-content-2 {
    overflow-x: auto;
    margin-top: 0px;
    border: 2px solid #7b3f00;
    color: black;
    background: rgba(255, 183, 117, 0.8);
    border-radius: 5px;
}

.tbl-content-2 td {
    color: black;
    width: 100vh;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
}

.formOfNote {
    background-color: rgba(255, 183, 117, 0.8);
    padding: 20px;
    border-radius: 7px;
    color: black;
}

#rank {
    text-align: center;
}

.form-edit {
    width: 350px;
}

/*INFORMATION*/
.overlay {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 1s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay span {
    padding: 30px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.6s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


.add-food-truck {
    float: left;
    width: 50%;
}

.truck {
    float: left;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}


.testx {
    float: left;
    width: 700px;
    text-align: justify;
    padding: 20px 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.addTruckFormInput {
    width: 300px;
}

.addTruckFormText {
    width: 580px;
}